.card {
    width: 30%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #6366F1;
}

.conditionImage {
    width: 150px;
}

.conditionText {
    font-size: 35px;
    margin: 0px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #F8FAFC;
}