html,
body {
    width: 100%;
    height: 100vh;
    background-color: #0F172A;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}