.mainDiv {
    display: flex;
    width: 85%;
    height: 800px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    border-radius: 20px;
    column-gap: 20px;
    background-color: #1E293B;
}

.locTemp {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;
    column-gap: 20px;
}