.searchDiv {
    width: 100%;
    height: 100px;
}

.searchBar {
    display: flex;
    width: 1300px;
    height: 100px;
    margin: 0 auto;
    justify-content: center;
}

.searchButton {
    width: 17%;
    height: 96px;
    border-radius: 0px 20px 20px 0px;
    background-color: #6366F1;
    border-style: none;
    font-size: 35px;
    color: white;
}

.searchInput {
    width: 80%;
    height: 90px;
    border-radius: 20px 0px 0px 20px;
    padding-left: 15px;
    font-size: 35px;
    background-color: #F8FAFC;
    ;
}